
* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  max-width: 99vw;
  max-height: 99vh;
  overflow: hidden;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#actor {
  background: #3178C6;
  height: 75px;
  width: 75px;
  border-radius: 8px;
}

.selected {
  background-color: #0F8FFF;
  border: 4px solid #11192E;
}

button {
  border: 4px solid #3178C6;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: #3178C6;
  font-weight: 700;
  margin-bottom: 12px;
}
